/Pertemuan10/nbproject/private/
/Pertemuan10/dist/
/Pertemuan10/build/
/Latihan GUI/nbproject/private/
/Latihan GUI/build/
/jdbc_mhs_service/nbproject/private/
/Pertemuan10/jdbc_mhs_service/nbproject/private/
/Pertemuan10/jdbc_mhs_service/build/
/Pertemuan11/nbproject/private/
/Pertemuan11/build/
/Pertemuan11/jdbc_mhs_service/build/
/Pertemuan11/jdbc_mhs_service/nbproject/private/
/Pertemuan11/jdbc_mhs_service_GUI/build/
/Pertemuan11/jdbc_mhs_service_GUI/nbproject/private/
/Pertemuan11/jdbc_mhs_service_GUI/dist/
